@charset "UTF-8";
body {
  margin: 0px;
  font-family: "Muli", sans-serif;
  background-color: #834dfc;
}

/* Estilos del header */
.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #834dfc;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__img {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  text-align: right;
  width: 100px;
}

.header__menu:hover ul,
.header__menu ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: #ffffff;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 8px;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 25px;
}

.header__menu--profile p {
  color: #ffffff;
  margin: 0px;
}

/* Estilos del buscador */
.main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.main__title {
  color: #ffffff;
  font-size: 20px;
}

.main__search {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
}

.main ::-webkit-input-placeholder {
  color: #ffffff;
}

.main :-ms-input-placeholder {
  color: #ffffff;
}

.main ::-ms-input-placeholder {
  color: #ffffff;
}

.main ::placeholder {
  color: #ffffff;
}

.categories__title {
  color: #ffffff;
  font-size: 16px;
  padding-left: 30px;
  position: absolute;
  width: 100%;
}

/* Estilos del Carousel */
.carousel {
  padding: 30px;
  position: relative;
  width: 100%;
}

.carousel__container {
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.carousel-item {
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  width: 150px;
}

.carousel-item__img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}

.carousel-item__details {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  opacity: 0;
  padding: 10px 10px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}

.carousel-item__details img {
  height: 15px;
}

.carousel-item__details p {
  margin: 0px;
}

.carousel-item__details:hover {
  color: #ffffff;
  opacity: 1;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

/* Estilos de la vista del Login */
.login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#834dfc), to(#21c08b));
  background: linear-gradient(#834dfc, #21c08b);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 0px 30px;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 500px;
  padding: 20px 68px 40px;
  width: 250px;
}

.login__container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__container--form label {
  font-size: 12px;
}

.login__container--remember {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login__container--remember a {
  color: #ffffff;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
}

.login__container--remember a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  margin-right: 10px;
  width: 30px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input-form {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid #ffffff;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.btn--login {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

/* Estilos de la vista del Registro */
.register {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#834dfc), to(#21c08b));
  background: linear-gradient(#834dfc, #21c08b);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 0px 30px;
}

.register__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 500px;
  padding: 20px 68px 40px;
  width: 250px;
}

.register__container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__container--login a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.register__container a:hover {
  text-decoration: underline;
}

.btn--register {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #21c08b;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Diseño Responsive */
@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Error 404 Not Found*/
.error {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#834dfc), to(#21c08b));
  background: linear-gradient(#834dfc, #21c08b);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 73vh;
  width: 100%;
}

.error__container--p {
  color: #ffffff;
  font-family: "Muli", sans-serif;
  font-size: 16px;
}

.animated {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes gif {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes gif {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gif {
  -webkit-animation-name: gif;
          animation-name: gif;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
/*# sourceMappingURL=styles.css.map */