<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Error 404</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="/assets/images/logo-platzi-video-BW2.png" alt="Logo de Platzi Video">
    </header>

    <section class="error">
        <div class="error__container animated gif">
            <img class="error__container--img" src="/assets/images/404.gif" alt="Error 404">
        </div>
            <p class="error__container--p">Página no encontrada</p>
        
    </section>

    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>